.brown-text{
    color: brown;
}

.chocolate-text{
    color: chocolate;
}

li{
    color: cornflowerblue;
}

p{
    color: seagreen;
}

.blue-text{
    color: blue;
}

h3{
    color: brown;
}
]